<!DOCTYPE html>
<html data-theme="dark" data-webp="true" lang="en">
<link rel="stylesheet" href="/static/pico.min.css" />
<link rel="stylesheet" href="/static/css/themes/amber.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"
  type="text/css">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon.png">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:url" content="https://btc2fiat.vercel.com" />
  <meta charset="utf-8">

  <title>{{ title }}</title>
</head>

<body>
  <!-- Nav -->
  <nav class="container-fluid" style="border-bottom-style:solid; border-color: rgb(66, 66, 66); border-width: 0.1px">
  <ul>
    <a href="https://bitcoin.org.hk/">
      <img src="/static/images/BAHK_black_square.svg" height="64" width="64"
      alt="Bitcoin.org.hk" />
    </a>
  </ul>
    <ul>
      <li>
        <a class="secondary" href="https://sats.bitcoin.org.hk/">Sats</a>
      </li>
      <li>
        <a class="secondary" href="https://blocks.bitcoin.org.hk/">Blocks</a>
      </li>
      <li>
        <a class="secondary" href="https://stack.bitcoin.org.hk/">Stack</a>
      </li>
    </ul>
  </nav><!-- ./ Nav -->

  <main class="container center-sm">
    <hgroup>
      <h1 style="color:#ffb300">
        <a href="/">Welcome to {{ title }}!</a>
      </h1>
      <p>A Basic Bitcoin to Fiat converter with price feeds from Coindesk.</p>
    </hgroup>

    <section id="converter">
      <div class="grid">
        <div class="row center-sm">
          <div class="col-sm-4">
            <button class="primary outline" id="toggle-btn">BTC</button>
          </div>
          <div class="col-sm-6">
            <input type="text" id="satsamt" name="satsamt" placeholder = "1.0" aria-label="btc" value="100,000,000">
          </div>
        </div>
        <div class="row center-sm">
          <div class="col-sm-4">
            <form id="my-form" action="btc" method="post">
              <select id="selected" name="selected">
                {% for item in fiatlist %}
                {% if item == fiattype %}
                <option value="{{ item }}" selected>{{ item }}</option>
                {% else %}
                <option value="{{ item }}">{{ item }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </form>
          </div>
          <div class="col-sm-6">
            <input type="text" name="fiat" id="fiat" aria-label="fiat" value="{{fiat}}">
          </div>
        </div>
      </div>
      <label style="color:#ffb300">
        <span id="sats-label"></span>
        <span id="text-label">BTC</span>
      </label>
      <label>
        1 BTC = {{fiat}} {{fiattype}}
      </label>
    </section>
    

    <section id="ticker">
      <p>
        <b> Moscow Time </b> {{ moscow }} (sats/{{fiattype}}) <br />
        <b> Block Height </b> {{ blockheight }} <br />
        As of {{lastupdated}} <br />
      </p>
    </section>
    <footer>
      Built with <a href="https://picocss.com"> Pico </a> • <a href="https://github.com/bitkarrot/satsconverter">
        Source </a>
    </footer>
  </main>

  <script>
    const toggleBtn = document.getElementById('toggle-btn');
  let isBtcToSats = false; // default to BTC to SATS conversion
  // Update the button text to reflect the default option
  toggleBtn.textContent = 'SATS';
  const textLabel = document.getElementById("text-label");
  const satsAmtInput = document.getElementById('satsamt');
  const fiatAmtInput = document.getElementById('fiat');
  const satlabel = document.getElementById('sats-label');
  const fiatAmt = parseFloat(fiatAmtInput.value.replace(",", "")); // 1 BTC = fiatAmt (and removing the format added initially in app.py since further conversion needs to happen.)

  toggleBtn.addEventListener('click', () => {
  isBtcToSats = !isBtcToSats; // toggle the conversion direction

  // Clear input values
  satsAmtInput.value = '';
  fiatAmtInput.value = '';
  satlabel.textContent = ''; // Clear the content of sats-label

  // update the button text accordingly
  if (isBtcToSats) {
    toggleBtn.textContent = 'BTC';
    textLabel.textContent = 'SATS';
  } else {
    toggleBtn.textContent = 'SATS';
    textLabel.textContent = 'BTC';
  }

  // perform the conversion
  let inputVal = parseFloat(satsAmtInput.value);
  if (!isNaN(inputVal)) {
    if (isBtcToSats) {
      inputVal *= 100000000; // convert BTC to SATS
    } else {
      inputVal /= 100000000; // convert SATS to BTC
    }
    satsAmtInput.value = inputVal;

    // trigger the fiat input event to perform the fiat conversion
    fiatAmtInput.dispatchEvent(new Event('input'));
  }
});

    
    const dropdown = document.getElementById('selected')
    const form = document.getElementById('my-form')
    const fiatamt = document.getElementById('fiat')
    const satsamt = document.getElementById('satsamt')
    // const satlabel = document.getElementById('sats-label')

    const rate = fiatamt.value.replace(",", "") // 1 btc = fiat amt (and removing the format added initially in app.py since further conversion needs to happen.)

    dropdown.addEventListener('change', () => {
      console.log(dropdown.value)
      form.submit();
    })

    // add fiat in-page rate conversion
    fiatamt.addEventListener('input', (event) => {
      const userInput = event.target.value;
      const regex = /^\d+(\.\d{0,2})?$/;
      const isValid = regex.test(userInput);
      if (!isValid) {
        event.target.value = userInput.slice(0, -1);
      }
      if (isBtcToSats) {
        const result = parseFloat(userInput) / rate;  // convert btc to fiat rate
        satsamt.value = result.toLocaleString(undefined, { minimumFractionDigits: 8 }); // adding back format for better readability
        satsamtValue = parseFloat(satsamt.value) * 100000000;
        satlabel.innerHTML = satsamtValue.toLocaleString(undefined, { minimumFractionDigits: 0 });
      } else {
        const result = parseFloat(userInput) / rate * 100000000; // convert fiat to sats rate
        satsamt.value = result.toLocaleString(undefined, { minimumFractionDigits: 0 }); // display sats value
        satlabel.innerHTML = result.toLocaleString(undefined, { minimumFractionDigits: 0 });
      }
    });


    // btc/sats input section
    satsamt.addEventListener('input', (event) => {
      const userInput = event.target.value;
      const regex = /^\d+(\.\d{0,8})?$/;
      const isValid = regex.test(userInput);
      if (!isValid) {
        event.target.value = userInput.slice(0, -1);
      }
      if (isBtcToSats) {
        const result = parseFloat(userInput) * rate;  // convert sats to fiat rate
        console.log(rate);
        fiatamt.value = result.toLocaleString(undefined, { minimumFractionDigits: 2 });   // adding back the format for better readability
        satsvalue = parseFloat(userInput) * 100000000;
        satlabel.innerHTML = satsvalue.toLocaleString(undefined, { minimumFractionDigits: 0 });
      } else {
        const result = parseFloat(userInput) / rate;  // convert fiat to BTC rate
        console.log(rate);
        fiatamt.value = result.toLocaleString(undefined, { minimumFractionDigits: 2 });   // adding back the format for better readability
        satsvalue = parseFloat(userInput);
        satlabel.innerHTML = (satsvalue / 100000000).toLocaleString(undefined, { minimumFractionDigits: 8 });
      }
    });


  </script>

</body>

</html>
