<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/pico.min.css" />
<link rel="stylesheet" href="/static/css/themes/amber.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"
  type="text/css">

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
</head>

<body>
  <main class="container center-sm">
    <hgroup>
      <h1 style="color:#ffb300">Welcome to {{ title }}!</h1>
      <p>A Basic Bitcoin to Fiat converter with price feeds from Coindesk.</p>
    </hgroup>

    <section id="converter">
      <form method="post">
        <div class="grid">
          <div class="row center-sm">
            <div class="col-sm-2">

             <select id="select1" name="fiatselect" required="true">
                <option value="HKD" selected>HKD</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="GBP">GBP</option>
              </select>


            </div>
            <div class="col-sm-6">
              <input type="text" name="fiatamt"
                      placeholder="{{fiatprice}}"
                      aria-label="fiat"
                      value="">
            </div>
          </div>
        </div>
        <div class="row center-sm">
          <div class="col-sm-2">
            <select id="select2" name="satselect" required="true">
              <option value="BTC" selected>BTC</option>
              <option value="SATS">Sats</option>
            </select>
          </div>
          <div class="col-sm-6">
            <input type="text"
                    name="satsamt"
                    placeholder="1.00"
                    aria-label="btc"
                    value="">
          </div>
        </div>
        <div class="row center-sm">
          <div class="col-sm-2">
            <button type="submit">Go</button>
          </div>
        </div>
      </form>
    </section>

    <section id="ticker">
      <p>
        $ {{ usdprice }} USD / BTC <br />
        Moscow Time {{ moscow }} (sats/usd) <br />
        Block Height {{ blockheight }}  <br/>
        As of {{lastupdated}} <br />
      </p>
    </section>
    <footer>
      Built with <a href="https://picocss.com"> Pico </a> • <a href="https://github.com/">Source</a>
    </footer>
  </main>

  <!-- vue global -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</body>
</html>